body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    
}



.logo{
    display: grid;
    place-items: center;
}
.title{
    color: azure;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-top: 10px;
    
}

.loginForm{
   color: azure;
   font-family:sans-serif;
   font-size: 16px;
   margin-top: -120px;
   border-style: solid;
   border-color: #958be9d0;
   border-radius: 15px;
   padding: 25px;
   background-color: #685bdb;
}

#username{
    margin-top: 5px;
    font-family:sans-serif;
}

#password{
    margin-top: 5px;
    font-family:sans-serif;
}
input[type="text"]{
    border: 1px solid #ccc; 
    border-radius: 25px; 
    padding: 10px;
    box-shadow: none; 
    border-radius: 30px;
    width: 300px;
}

#login{
    background-color: rgb(84, 214, 84);
    margin-left: 120px;
    padding: 15px;
    width: 100px;
    border-radius: 30px;
    box-shadow: none;
    border: #ccc;  
}
.forgot{
    font-family:sans-serif;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom:50px ;
    margin-left: 10px;
}
.click{
    color: rgb(226, 44, 11);
}
